.entry {
  margin-top: 2em;
  margin-bottom: 10em;
}

.entry_title {
  font-size: 2.0em;
}

.entry_permalink {
  font-size: 0.5em;
  font-family: Arial;
  font-color: black;
  float: right;
}

> p.meta {
  > .author {

  }

  > .categories {
  }

  > .tags {
    font-size: 0.8em;
  }
  
  margin-bottom: 20em;

  > .entry_content {
    > .left {
      display: inline;
      float: left;
      max-width: 50%;
      height: auto;
    }

    > .right {
      display: inline;
      float: right;
      max-width: 50%;
      height: auto;
    }
  }
}

blockquote {
  font-size: 1.5em;
  font-style: italic;
  border-left: 8px solid #E0E0E0;
  padding-left: 1em;
  vertical-align: middle;

  footer {
    text-align: right;
    font-size: 0.50em;
    strong {
      display: block;
    }

    cite {
    }
  }
}
