<article class="entry" role="article">

  <header>
		<h2 class="entry_title">{{ post.title }}
			<small class="entry_permalink">(<a href='{{ post.url }}'>Permalink</a>)</small>
		</h2>
    {% if post.meta %}
    <p class="meta">

      {% if post.date %}
				<time datetime="{{post.date}}" pubdate>{{post.date_formatted}}</time>
      {% endif %}

      {% if show_comments == 't' and post.date %}
      |
      {% endif %}

      {% if show_comments == 't' %}
		  <a href="#disqus_thread">Comments</a>
      {% endif %}


    </p>
    {% endif %}
  </header>

  <div class="entry_content">{{ content }}</div>

  <footer>
    <p class="meta">

      <span class="author">
		  Posted by 
		  <span class="fn">
			  {% if post.author %}
				{{ post.author }}
			  {% else %}
				{{ author }}	  
			  {% endif %}
		  </span>
      </span>

      {% if has_date != '0' %}
		  <time datetime="{{post.date}}" pubdate>{{post.date_formatted}}</time>
      {% endif %}

      {% if category != '0' %}
      <span class="categories">
		Posted in {{ post.categories | category_links }}
      </span>
      {% endif %}
	  
	  {% unless site.sharing == false or post.sharing == false%}
	  <div class="sharing">

      {% if site.google_plus_one %}
				<div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
      {% endif %}

      {% if site.twitter_tweet_button %}
				<a href="http://twitter.com/share"
					class="twitter-share-button"
					data-url="{{ site.url }}{{ page.url }}"
					data-via="{{ site.twitter_user }}"
					data-counturl="{{ site.url }}{{ page.url }}" 
				>Tweet</a>
      {% endif %}

      {% if site.facebook_like %}
				<div class="fb-like"
					data-send="true"
					data-width="450"
					data-show-faces="false">
				</div>
      {% endif %}

			{% if site.disqus_short_name and post.comments == true %}
				<div class="disqus">
					<div id="disqus_thread" aria-live="polite">
						{% include disqus.html %}
						<noscript>
							Javascript
							(<a href="http://disqus.com/?ref_noscript">Disqus</a>)
						</noscript>
					</div>
				</div>
			{% endif %}

	  </div>
	  {% endunless %}

    </p>

  </footer>
  
</article>
